{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Maipu Inspection Tools</h2>
            <p>迈普巡检工具包括三个部分：单次巡检服务、批量巡检服务和配置检查。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="page-header">单次巡检服务</h3>
            <p>从日来来看VPN02发生了cpu cache的问题，公告今天王济鑫老师刚发，可以升级解决，vpn01的日志全部被ipsec的日志覆盖掉了，收集一下两台设备的宿主巡检，再提供一下拓扑。看看有没有有用的日志。</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="page-header">批量巡检服务</h3>
            <p>从日来来看VPN02发生了cpu cache的问题，公告今天王济鑫老师刚发，可以升级解决，vpn01的日志全部被ipsec的日志覆盖掉了，收集一下两台设备的宿主巡检，再提供一下拓扑。看看有没有有用的日志。</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="page-header">配置检查</h3>
            <p>从日来来看VPN02发生了cpu cache的问题，公告今天王济鑫老师刚发，可以升级解决，vpn01的日志全部被ipsec的日志覆盖掉了，收集一下两台设备的宿主巡检，再提供一下拓扑。看看有没有有用的日志。</p>
        </div>
    </div>
</div>
{% endblock page_content %}