{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <style type="text/css">
        .grid_div{
            border-width: 1px;
            border-style: solid;
        }
        span{
            color: red;
        }
    </style>
{% endblock styles %}
{% block page_content %}
<h1 class="page-header">全局CSS</h1>
<div class="container">
    <h2>栅格系统学习</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h2 class="page-header">title1</h2>
            <p>海南工行红旗项目场景应用，用户发现网点wlan故障，切换AC后故障依然，网管发现大量isg不在线。用户登录主VPN 75E，发现和网点的vpn隧道还在，但是到网点网络不通。后再发现已经无法远程登录主75E。用户到机房对75E断电，准备切换到备份75E，但是发现备份75E的msu g0口和防火墙之间不通，g1，g2口接其他设备是通的，笔记本电脑直接接g0口也不通。重启后，g0口和防火墙通了。备份75E恢复后，由于防火墙配置修改，找到防火墙配置问题，修改后才恢复全省网络，网络中断接近2小时。后用户再对主75E开机测试，也恢复了正常工作。整个处理过程中，主备两台75E都初步判断有问题，主75E是vpn中断，备份75E是g0口不通。</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h2 class="page-header">title2</h2>
            <p>海南工行红旗项目场景应用，用户发现网点wlan故障，切换AC后故障依然，网管发现大量isg不在线。用户登录主VPN 75E，发现和网点的vpn隧道还在，但是到网点网络不通。后再发现已经无法远程登录主75E。用户到机房对75E断电，准备切换到备份75E，但是发现备份75E的msu g0口和防火墙之间不通，g1，g2口接其他设备是通的，笔记本电脑直接接g0口也不通。重启后，g0口和防火墙通了。备份75E恢复后，由于防火墙配置修改，找到防火墙配置问题，修改后才恢复全省网络，网络中断接近2小时。后用户再对主75E开机测试，也恢复了正常工作。整个处理过程中，主备两台75E都初步判断有问题，主75E是vpn中断，备份75E是g0口不通。</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h2 class="page-header">title3</h2>
            <p>海南工行红旗项目场景应用，用户发现网点wlan故障，切换AC后故障依然，网管发现大量isg不在线。用户登录主VPN 75E，发现和网点的vpn隧道还在，但是到网点网络不通。后再发现已经无法远程登录主75E。用户到机房对75E断电，准备切换到备份75E，但是发现备份75E的msu g0口和防火墙之间不通，g1，g2口接其他设备是通的，笔记本电脑直接接g0口也不通。重启后，g0口和防火墙通了。备份75E恢复后，由于防火墙配置修改，找到防火墙配置问题，修改后才恢复全省网络，网络中断接近2小时。后用户再对主75E开机测试，也恢复了正常工作。整个处理过程中，主备两台75E都初步判断有问题，主75E是vpn中断，备份75E是g0口不通。</p>
        </div>
    </div>    
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 grid_div"><span class="">col-lg-8 col-md-12</span></div>
        <div class="col-lg-4 col-md-6 grid_div"><span class="">col-lg-4 col-md-6</span></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
        <div class="col-lg-1 col-md-2 col-sm-3 grid_div"><span class="">col-lg-1 col-md-2 col-sm-3</span></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 grid_div"><span class="">col-lg-8 col-md-12</span></div>
        <div class="col-lg-4 col-md-6 grid_div"><span class="">col-lg-4 col-md-6</span></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 grid_div">lg-9</div>
        <div class="col-lg-13 grid_div">lg-13</div>
    </div>
</div>

<!--列嵌套-->
<div class="container">
    <div class="row">
        <div class="col-lg-4 grid_div">
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
        </div>
        <div class="col-lg-4 grid_div">col-lg-4</div>
        <div class="col-lg-4 grid_div">col-lg-4</div>
    </div>
</div>
<!--列排序-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8">col-lg-4</div>
        <div class="col-md-8 col-md-pull-4">col-lg-8</div>
    </div>
</div>
{% endblock page_content %}