{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="jumbotron">
        <h2>配置合规性检查</h2>
        <p>配置合规性检查包括设备安全性配置检测，等等。用于检查当前设备配置是否符合迈普公司建议的配置要求。提高网络可靠性和安全性。</p>
    </div>
</div>
<div class="container">
    <form class="" action="" method="POST" autocomplete="off">

    </form>
</div>
<div class="container">
    <div style="color:red;margin: 0 auto;text-align: center;">
        <table class="table table-bordered">
            <tr>
                <td class=""
            </tr>
        </table>
    </div>
</div>
{% endblock %}