{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="jumbotron">
        <h2>配置合规性检查</h2>
        <p>配置合规性检查包括设备安全性配置检测，等等。用于检查当前设备配置是否符合迈普公司建议的配置要求。提高网络可靠性和安全性。</p>
    </div>
</div>
<div class="container">
    <form class="" action="" method="POST" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.ipaddress.label }} {{ form.ipaddress() }}
            {{ form.device_model.label }} {{ form.device_model() }}
            {{ form.login_type.label }} {{ form.login_type() }}
            {{ form.username.label }} {{ form.username() }}
            {{ form.password.label }} {{ form.password() }}
            {{ form.enable_password.label }} {{ form.enable_password() }}
            {{ form.submit() }}
        </div>
    </form>
</div>
<div class="container">
    <div>
        <table class="table">
            <tr class="warning">
                <td><b>#</b></td>
                <td><b>检查项</b></td>
                <td><b>检查结果</b></td>
            </tr>
            <tr>
                <td><b>1</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>2</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>3</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>4</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}