{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="thumbnail">
                <a href="{{ url_for('single') }}"><img src="{{ url_for('static',filename='img/single.png') }}" id="img" style="margin:0 auto;"></a></br>
                <div class="caption">
                    <h3>单次巡检服务</h3>
                    <p>单次巡检服务指针对单台设备进行普通巡检服务或者深度巡检服务。</p>
                    <p><a href="{{ url_for('single') }}" class="btn btn-primary" role="button">前往</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="thumbnail">
                <a href="{{ url_for('batch') }}"><img src="{{ url_for('static',filename='img/batch.png') }}"></a></br>
                <div class="caption">
                    <h3>批量巡检服务</h3>
                    <p>批量巡检服务指针对多台设备批次进行普通巡检或者深度巡检服务。</p>
                    <p><a href="{{ url_for('batch') }}" class="btn btn-primary" role="button">前往</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
        <div class="thumbnail">
            <a href="{{ url_for('config') }}"><img src="{{ url_for('static',filename='img/config.png') }}"></a></br>
            <div class="caption">
                <h3>配置检查</h3>
                <p>配置合规性检查包括设备安全性配置检测,用于检查当前设备配置是否符合迈普公司建议的配置要求。</p>
                <p><a href="{{ url_for('config') }}" class="btn btn-primary" role="button">前往</a></p>
            </div>

        </div>
    </div>
    </div>


</div>
{% endblock page_content %}